.example-spacer {
    flex: 1 1 auto;
  }

.main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
    mat-form-field {
      width: 100%;
    }
  
.table {
    overflow: overlay;
    }
}

.container{
    display: flex;
}
.box1 {
    width: 100%;
    height: 100%;
    flex: 1;
  }
  
.box2 {
    position: "absolute";
    top: 0;
    right: 0;
    margin-bottom: 10px;
  }
  